{% extends 'base.html.twig' %}

{% block title %}Gerichte | Anlegen{% endblock %}

{% block body %}
    <br/>
    <div class="container">
        <h2>Gerichte anlegen</h2>
        <br/>
        {{ form(anlegen_form) }}
    </div>
{% endblock %}
