{% extends 'base.html.twig' %}

{% block body %}

    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error.message }}
        </div>
    {% endfor %}

<br/>
<div class="container">
    <h2>Registrieren</h2>
    <br/>
    {{ form(registrierungForm) }}
</div>

{% endblock %}
